<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.main.wangliwei.baselib" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

    <provider
        android:name="android.support.v4.content.FileProvider4Util"
        android:authorities="${applicationId}.utils.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/util_provider_paths" />
    </provider>
</manifest>
