<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.main.wangliwei.baselib" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".utils.PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>
</manifest>
